<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Haoshuju.net</title>
  <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
  <h1>Haoshuju</h1>
  <p>Hello, <%= name %></p>
  <ul>
  <% keywords.map do |keyword| %>
    <li><%= keyword.content %> (<%= keyword.hots %>)</li>
  <% end %>
  </ul>
  <table>
    <% weibos.map do |weibo| %>
    <tr><td><%= weibo.name %></td><td><%= weibo.content %></td></tr>
    <% end %>
  </table>
  <script src="/assets/js/main.js"></script>
</body>
</html>
