<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Haoshuju.net</title>
  <link rel="stylesheet" href="/assets/vendor/writ.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <h1>Haoshuju</h1>
  <hr/>
  <h2>翻译</h2>
  <table>
    <tr><th>EN</th><th>ZN</th><th>Times</th><th>created_at</th></tr>
    <% dicts.map do |dict| %>
    <tr><td><%= dict.from %></td><td><%= dict.to %></td><td><%= dict.times %></td><td><%= dict.created_at %></td></td></tr>
    <% end %>
  </table>
  <script src="/assets/js/main.js"></script>
  <footer>
    <hr/>
    <div>Version: <%= version %></div>
  </footer>
</body>
</html>
