<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Haoshuju.net</title>
  <link rel="stylesheet" href="/vendor/writ.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <h1>Haoshuju</h1>
  <hr/>
  <h2>每天访问计数</h2>
  <div id="counter-app">
    <table class="table">
      <tr v-for="d in dayItems">
        <td v-text="d.day"></td>
        <td v-text="d.number" v-bind:style="{ color: d.maxed ? 'red' : 'black'}"></td></tr>
    </table>
  </div>

  <footer>
    <hr/>
    <div>Version: <%= version %></div>
  </footer>
  <script src="/vendor/vue.min.js"></script>
  <script src="/vendor/jquery-2.1.4.min.js"></script>
  <script src="/js/counter/hsj-opt.js"></script>
  <script src="/js/counter/hsj-launcher.js"></script>
</body>
</html>
